fruits_enhanced_dual_domain_densenet121.pth
fruits_efficientnet_dual_domain_cnn.pth
fruits_mobilenetv2_dual_domain_cnn.pth
fruits_enhanced_dual_domain_cnn.pth
fruits_enhanced_vgg19_dual_domain_cnn.pth